body {
  background-color: rgb(186, 219, 219);
}
* {
  color: white;
  font-family: "Itim", cursive;
}

button {
  background-color: rgb(247, 173, 82);
  border-radius: 10px;
  font-weight: bolder;
  font-size: x-large;
}
button:hover {
  background-color: rgb(83, 83, 82);
}
#age {
  text-shadow: 2px 2px 1px rgb(91, 92, 95);
  margin-left: 35px;
  font-weight: bolder;
  font-size: xx-large;
  color: rgb(247, 173, 82);
}
.socialmedia i {
  margin-right: 15px;
  font-size: 27px;
  margin-bottom: 10px;
}
.socialmedia {
  margin-left: 40px;
  margin-top: 40px;
}

.container {
  width: 400px;
  background-color: #0e2f2f;
  margin-left: 450px;
  margin-top: 300px;
  padding-left: 200px;
  padding-bottom: 5px;
  border-radius: 10px;
}
#date {
  background-color: darkgray;
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: medium;
  border-radius: 10px;
}
h3 {
  font-weight: bolder;
  font-size: x-large;
}
